body {
  display:block;

}

a {
  color:black !important;
}

.nav-title-text {
  position:fixed;
  margin:auto;
  padding:0!important;
  text-align:center;
  width:100%;
}

.navbar-nav {
  text-align:center !important;

  width:100%;
}

.navbar-nav li {

}


.navbar-toggle {
  float:left !important;
  margin-left:0!important;
  margin-right:0!important;
  border-color:white !important;
  z-index:2;
}

.icon-bar{
  background-color:black !important;
  padding-left:17px !important;
  padding-right:17px !important;
  padding-top:2px !important;
  padding-bottom:2px !important;
}

.jumbotron {
  background-image: url('cover.jpeg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
}

.custom-font {
   font-family: "Garamond";
   margin-top:10px;
}

.the-date {
  padding-top:50px;
  padding-bottom: 50px;
}



@media (min-width:768px) {
  .desktop-only{
    display:block;
    position:fixed;
    top:20px;
    left:15px;
    z-index:10;
    font-family: "Garamond";
    font-size:13px;
    letter-spacing:.75px;
    padding:0;
    margin:0;
  }

  .navbar {
    padding-top:80px;
  }

  .nav-title-text {
    top:30px;
    font-size:45px;
  }


.navbar-nav {
  display:flex;
  justify-content:center;
}

  .jumbotron {
    height:800px;
  }

  .couple{
    background-image: url('wreath.png');
    background-position: center center;
    background-repeat: no-repeat;
    height:500px;
  }

  .couple-names{
    top:120px;
  }

  .the-date{
    border-top-style: solid;
    border-bottom-style: solid;
    border-width:thin;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 20px;
    margin-right:20px;
  }

  .title-1{
    background-image: url('title-1-img.png');
    background-position: left center;
    background-repeat: no-repeat;
    height:400px;
  }

  .title-2{
    background-image: url('title-2-img.png');
    background-position: right center;
    background-repeat: no-repeat;
    height:400px;
  }

  .para-title-1 {
    top:260px;
  }

  .para-title-2 {
    top:0;
    padding-bottom:50px;
  }

  .para-text {
    padding-left:175px;
    padding-right:175px;
  }
}



@media (max-width:767px){
  .desktop-only{
    display:none;
  }

  .nav-title-text {
    top:8px;
    font-size:30px;
  }

  .jumbotron {
    height:300px;
  }

  .navbar-nav {
    font-size:30px;
    margin-left:0px !important;
  }

.navbar-collapse {

}

  .couple{
    height:300px;
  }

  .couple-names{
    top:25px;
  }

  .the-date{
    margin-top:5px;
    margin-bottom:5px;
  }

  .above-date {
    background-image: url('above-date.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:90%;
    height:130px;
  }

  .below-date {
    background-image: url('below-date.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:90%;
    height:130px;
  }

  .para-text {
    padding-left:25px;
    padding-right:25px;
  }
}
